@{
    ViewBag.Title = "Preferences";
}

<h2>Preferences</h2>
<div id="menu">
    <h3>Photo </h3>
    <img height="100" width="100" src="@ViewBag.CurrentPhotoPath">
    <form action="FileUpload" method="post" enctype="multipart/form-data">
        <input type="hidden" value="ProfilePhoto" id="type" name="type"/>
        <input type="file" id="file" name="file" />
        <input type="submit" value="Change Your Photo" />
    </form>
</div>
<div id="menu">
    <h3>Legend</h3>
    <p>@ViewBag.CurrentLegend</p>
    <form action="UserLegend">
        <input type="text" id="Legend" name="Legend" />
        <input type="submit" value="Change Your Legend" />
    </form>
</div>