@{
    ViewBag.Title = "Request Friendship";
    @model Sweeter.Models.Profile
}

<h2>Contratulations!</h2>
<p>You have a new friend: @Model.UserName</p>
<p><img height="100" width="100" src="@Model.PhotoPath"></p>
