@{
    ViewBag.Title = "SearchFriends";
    @model IEnumerable<Sweeter.Models.Profile>
    }

<h2>SearchFriends</h2>
@if (Model.Count() == 0)
    {
    <p>No Users found...</p>
    }
@foreach (var item in Model)
{
   
    <form action="RequestFriend" method="post">        
        <p>@item.UserName</p>
        <p><img height="100" width="100" src="@item.PhotoPath"></p>        
        <input type="hidden" value=@item.UserId id="friend" name="friend" />
        <input type="submit" value="Add Friend" />
    </form>

}
